.urls-table {
  margin-top: 1em;
  margin-bottom: 1em;
}

a.black-url {
  color: inherit;
}

.row-APPROVED {
  background-color: rgb(240, 255, 230);
}

.row-NOT_APPROVED {
  background-color: rgb(255, 230, 230);
}

.row-AWAITING_APPROVAL {
  background-color: rgb(250, 248, 230);
}

.btn-block {
  margin-top: 20px;
}
